<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
        body{
            font-family: 'Reggae One', cursive;
        }
    form{
        margin-top: 50px;
    }
    img{
        width: 800px;
    }
     </style>

{% if messages%}

{% for message in messages%}

<div class="text-center mt-5">{{message}}</div>

{%endfor%}

{%endif%}

    <form method="post" class="text-center">
        {%csrf_token%}
        <button class="p-3 btn btn-warning">Take A Screenshot</button>
    </form>

    {% if img%}
    <div class="text-center p-5 mt-5 container border shadow-sm">
        <img src="http://127.0.0.1:8000/media/{{img}}" class="img-fluid">
    </div>
    {%endif%}
</body>
</html>